.editRecipes_block
{
    position: relative;
    width: 100%;
    background-color: violet;
    z-index: 9999;
    /*visibility: hidden;*/
    display: none;
}

.visible_block{
    visibility: visible;
}

.submit_button_addrecipe{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}